doctype
html
    head
        meta(charset="utf-8")
        title 地下城列表
        script(src="/public/js/jquery-3.3.1.min.js")
        link(href="/public/css/reset.css" rel="stylesheet")
        link(href="/public/css/common.css" rel="stylesheet")
        link(href="/public/css/page-list-common.css" rel="stylesheet")
        link(href="/public/css/dungeonlist.css" rel="stylesheet")
    body
        header
            div.header-returnIndex
                a.header-returnIndex-title(href="/") DNF资料站
                span.header-returnIndex-author made By HD(w-ww)
            if user
                ul.header-list
                    li.header-username 欢迎您，#{user.username}
                    li.header-logout
                        a(href="/logout") 登出
            else
                ul.header-list
                    li.header-login 登录
                    li.header-register 注册
        div.main-container
            div.page-list-title.clearfix
                h1 地下城列表页
                if (user)
                    if (user.permission>=10)
                        a.addNew(href="/admin/uploadDungeon") 添加新地下城
                a.returnIndex(href="/") 返回首页
            table.list-table
                thead
                    tr
                        th(class="dungeonList-name") 名字
                        th(class="dungeonList-type") 图片
                        th(class="dungeonList-type") 位置
                        th(class="dungeonList-type") 首领
                tbody
                    each dungeon in result
                        tr(class="dungeon-id-"+dungeon.id)
                            td
                                a(href="http://127.0.0.1:8081/dungeon/#{dungeon.name}") #{dungeon.name}
                            td
                                img(src=dungeon.imgsrc)
                            td #{dungeon.position}
                            td #{dungeon.boss}
            div.pageControl
                button(type="button", id="prevPage") 上一页
                input(type="number", value=page, id="pageInput")
                span.white-span 共
                span#totalPages.white-span #{totalPages}
                span.white-span 页
                button(type="button", id="nextPage") 下一页
                button(type="button", id="jumpPage") 跳转
            span(id="inside")
        script(src="/public/js/backToPrev.js")
        script(src="/public/js/headerControl.js")
        script(src="/public/js/page-control.js")
