doctype
html
    head
        meta(charset="utf-8")
        title 地理编辑
        //link(href="/public/fruitList.css", rel="stylesheet")
        script(src="/public/js/jquery-3.3.1.min.js")
        link(href="/public/css/reset.css" rel="stylesheet")
        link(href="/public/css/common.css" rel="stylesheet")
    body
        div.main-container
            h1 地理编辑页
            each geography in result
                form(method="post", action="http://127.0.0.1:8081/admin/modifyExistGeography")
                    input(type="text", name="geographyID", value=geography.id, style="display:none")
                    span 地理名字：
                    input(type="text", name="geographyName", value=geography.name)
                    <br />
                    span 类型：
                    input(type="text", name="geographyType", value=geography.type)
                    <br />
                    span 图像：
                    input(type="text", name="geographyImg", value=geography.imgsrc)
                    <br />
                    span 详情：
                    textarea( name="geographyIntro", rows="20", cols="50")=geography.intro
                    <br />
                    input(type="submit")


