doctype
html
    head
        meta(charset="utf-8")
        title 故事详情
        script(src="/public/js/jquery-3.3.1.min.js")
        link(href="/public/css/reset.css" rel="stylesheet")
        link(href="/public/css/common.css" rel="stylesheet")
        link(href="/public/css/page-detail-common.css" rel="stylesheet")
        link(href="/public/css/story.css" rel="stylesheet")
    body
        header
            div.header-returnIndex
                a.header-returnIndex-title(href="/") DNF资料站
                span.header-returnIndex-author made By HD(w-ww)
            if user
                ul.header-list
                    li.header-username 欢迎您,#{user.username}
                    li.header-logout
                        a(href="/logout") 登出
            else
                ul.header-list
                    li.header-login 登录
                    li.header-register 注册
        div.main-container
            each story in result
                div.page-detail-title.clearfix
                    h1 #{story.name}
                    if user
                        if (user.permission >= 10)
                            a.modifyIt(href="/admin/modifyStory/#{story.name}") 修改
                    a.returnToList(href="/storieslist") 返回地理列表
                div.content.clearfix
                    div.part.clearfix
                        img(src="#{story.cover}")
                    div.part.part-content
                        h2 内容
                        each paragraph in story.content
                            table.paragraph
                                tbody
                                    tr
                                        td.story-speaker
                                            img(src="/public/img/story/"+paragraph[0]+".png")
                                        td.story-dialog
                                            p #{paragraph[1]}

        script(src="/public/js/backToPrev.js")
        script(src="/public/js/headerControl.js")

